.stopwatchWrapper {
	margin-left: 40%;
	margin-top: 10%;
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
	width: 18%;
}

.rectangle {
	margin-left: 90px;
	margin-top: 70px;
	z-index: 2;
	height: 60px;
	width: 110px;
	background-color: rgb(92, 91, 91);
}
#textWrapper {
	padding-top: 18%;
	color: white;
	text-align: center;
	vertical-align: middle;
}
.buttonWrapper {
	z-index: 2;
	margin-left: 10%;
}
#start {
	background-color: green;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
#stop {
	background-color: orange;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
#reset {
	background-color: red;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
