.stopwatchWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
	width: 18%;
}

.rectangle {
	margin-left: 65px;
	margin-top: 70px;
	z-index: 2;
	height: 80px;
	width: 160px;
	background-color: rgb(92, 91, 91);
}
#textWrapper {
	padding-top: 18%;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
}
.buttonWrapper {
	z-index: 2;
	margin-left: 10%;
}
#start {
	background-color: green;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
#stop {
	background-color: orange;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
#reset {
	background-color: red;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
